/* ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(0, 3, 5);
  box-shadow: 4px 2px 5px gray;
  color: rgb(3, 0, 0);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: rgb(244, 8, 8);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
} */

.navContainer{
  width: 100%;
  background: black;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 80px;
  padding: 20px 0;
  /* background: black; */
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
}

li{
    margin-left: 30px;
}

.nav-link{
  font-size: 15px;
  color: beige;
  cursor: pointer;
}
