.box{
    width: 100vh;
    margin: 0;
    display: grid;
    /* place-items: center; */
}
.box{
    /* align-items: center; */
    width: 300px;
}
h1{
    font-size: 20px;
    margin: 0 0 1rem 0;
}
.w-6 {
    width: 1.5 em;
}
.h-6{
    height: 1em;
}
.flex{
    display: flex;
}
.cursor-pointer{
    cursor: pointer;
}