html { 
    background: url('../../../../Images/monica-di-loxley-pJLmctCUmW0-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* .container{
    position: relative;
    bottom: 70px;
    right: 4px;
    background: beige;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    font: bolder;
  }  */

  .wrapper {
    width:600px;
    margin:0 auto;
    background: beige;
    color: black;
    padding: 20px 20px;
    border-radius: 10px;
    font: bolder;
    position: relative;
    top: -50px; right: 375px;
}
.break {
    position: relative;
    bottom: 500px;
    left: 00px;
    width: auto;
    text-align:center;
    font-weight:bold;
    margin-left:-100%;
    margin-right:-100%;
}
  

  .container h1{
    margin-bottom: 20px;
  }

  .breweryInfo{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: red;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 24px !important;
    overflow: visible;   
  }

  .name-container {
    position: relative;
    top: 10px;
    left: 500px;
  }

