.mapContainer {
    position: absolute;
    top: -50px; left: 670px;
}


.maph3 {
    position: relative;
    top: 3rem;
    left: rem;
    color: black;
    z-index: 10;
    margin: 0;
    padding: 0;
}