html { 
    background: url('../../../../Images/monica-di-loxley-pJLmctCUmW0-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container{
    background: beige;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
  }

  .container h1{
    margin-bottom: 20px;
  }

  .breweryInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

